@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img[alt='Logo']{
    width: 11rem;
}

img[alt='Logo']:hover {
   outline: 3px solid #2f2f2f;
   border-radius: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0d0703;
}

.nav-link {
    color: #F7F7F7  !important;
    border-bottom: 1px solid #F7F7F7;
}

.nav-link:hover {
    background-color: #ffcc74cb !important;
}

.hamburger {
    color: #FFCB74 !important;
    background-color: #ffcc74cb !important;
}

.adm {
    height: max-content;
}

.addbtn {
    background-color: #FFCB74;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
}

footer {
    height: 100%;
    background-color: black;
}

.center {
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
}

.icons {
    text-align: center;
  }

.fa-brands {
    padding: 5px;
}

.copyright {
    color: white;
}

a {
    text-decoration: none;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cop{
    display: contents;
    justify-content: start;
    align-items: center;
    width: 100%;
}