@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img[alt='Logo']{
    width: 11rem;
}

img[alt='Logo']:hover {
   outline: 3px solid #2f2f2f;
   border-radius: 10px;
}

body {
    /* background-color: #27323A; */
    /* background-color: #0C0C0F; */
    background-color: #2f2f2f;
}

.navbar {
    /* background-color: #1A1C22 !important; */
    background-color: #111111 !important;
}


.nav-link {
    color: #F7F7F7  !important;
    border-bottom: 1px solid #F7F7F7;
}

.nav-link:hover {
    background-color: #2f2f2f !important;
}

.hamburger {
    color: #F7F7F7 !important;
    background-color: #F7F7F7 !important;
}

/* th {
    background-color: #FFCB74 !important;
    color: #fff;
} */
