@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img[alt='Logo']{
    width: 11rem;
}

img[alt='Logo']:hover {
   outline: 3px solid #ffcc74cb;
   border-radius: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0d0703;
}

.nav-link {
    color: #F7F7F7  !important;
    border-bottom: 1px solid #F7F7F7;
}

.nav-link:hover {
    background-color: #ffcc74cb !important;
}

.hamburger {
    color: #FFCB74 !important;
    background-color: #ffcc74cb !important;
}

.productList {
    height: max-content;
}

.cont {
    width: 90%;
    display: flex;
    justify-content: center;
}

.prodTitle {
    font-size: 1.9rem !important;
    height: 100px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 17rem;
    width: 17rem;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.466));
}

.prodImg {
    background-size: cover !important;
}

.card-text {
    height: 10rem;
    overflow: auto;
}

.addCart {
    display: flex;
    justify-content: center;
}

.contentBtn {
    background-color: #FFCB74;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
}
.contentBtn:hover {
    background-color: #ffcc74c3;
}

.boldW {
    font-weight: 600;
}

.cartBtn {
    background-color: #FFCB74;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
    margin-top: 2px;
    margin-bottom: 5px;
}

.cartBtn:hover {
    background-color: #ffcc74c3;
}

.modalBtn {
    display: flex;
    justify-content: center;
}

footer {
    height: 100%;
    background-color: black;
}

.center {
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
}

.icons {
    text-align: center;
  }

.fa-brands {
    padding: 5px;
}

.copyright {
    color: white;
}

a {
    text-decoration: none;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cop{
    display: contents;
    justify-content: start;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1025px) {
    .prodTitle {
        font-size: 1.5rem !important;
    }
}